body {
    margin: 0;
    padding: 0;
    background: url(restaurant.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
    background-attachment: fixed;
}

.container {
    width: 800px;
    height: 500px;
    margin: 50px auto 0;
    display: table;
    box-sizing: border-box;
    transition: .5s;
}

header {
    background: #00795f;
    width: 100%;
    padding: 40px 0;
    color: white;
    text-align: center;
    font-size: 40px;
}

a {
    text-decoration: none;
    color: inherit;
}

nav ul {
    background-color: #43a286;
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
    -webkit-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li:hover {
    background-color: #399077;
}

.handle {
    width: 100%;
    background: #005c48;
    text-align: left;
    box-sizing: border-box;
    padding: 15px 10px;
    cursor: pointer;
    color: white;
    display: none;
}

.container {}

.row {
    margin: 20px 0;
    transition: .5s;
}

.col {
    background: black;
    display: table-cell;
    padding: 10px;
    width: 33.33333%;
    text-align: center;
    color: white;
    vertical-align: middle;
    transition: .5s;
}

.row:nth-child(1) .col:nth-child(1) {
    background: #596270;
}

.row:nth-child(2) .col:nth-child(1) {
    background: #00acc1;
}

.row:nth-child(3) .col:nth-child(1) {
    background: #ff4350;
}

@media screen and (max-width: 900px) {
    nav ul {
        max-height: 0;
    }
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        text-align: left;
    }
    .handle {
        display: block;
    }
    .container {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
    .col {
        width: 100%;
        display: block;
        margin: 10px 0;
        border: none;
        box-sizing: border-box;
    }
    .row {
        margin: 0;
    }
}

@media screen and (max-width: 580px) {
    nav ul {
        max-height: 0;
    }
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        text-align: left;
    }
    .handle {
        display: block;
    }
    .container {
        margin: 0;
        padding: 10px;
        width: 100%;
        height: 100;
    }
    .col {
        width: 100%;
        display: block;
        margin: 10px 0;
        border: none;
        box-sizing: border-box;
    }
    .row {
        margin: 0;
    }
}

@media screen and (max-width: 720px) {
    nav ul {
        max-height: 0;
    }
    .showing {
        max-height: 20em;
    }
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        text-align: left;
    }
    .handle {
        display: block;
    }
    .container {
        margin: 0;
        padding: 10px;
        width: 100%;
        height: 100%;
    }
    .col {
        width: 100%;
        display: block;
        margin: 10px 0;
        border: none;
        box-sizing: border-box;
    }
    .row {
        margin: 0;
    }
}