body {
    margin: 0;
    padding: 0;
    background: url(restaurant.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
}

header {
    background: #00795f;
    width: 100%;
    padding: 40px 0;
    color: white;
    text-align: center;
    font-size: 40px;
}

a {
    text-decoration: none;
    color: inherit;
}

nav ul {
    background-color: #43a286;
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
    -webkit-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li:hover {
    background-color: #399077;
}

section {
    line-height: 1.5em;
    font-size: 0.9em;
    padding: 40px;
    width: 75%;
    margin: 0 auto;
}

.handle {
    width: 100%;
    background: #005c48;
    text-align: left;
    box-sizing: border-box;
    padding: 15px 10px;
    cursor: pointer;
    color: white;
    display: none;
}

.container {
    width: 800px;
    margin: 50px auto 0;
    display: table;
    box-sizing: border-box;
    transition: .5s;
}

.row {
    margin: 20px 0;
    transition: .5s;
}

.col {
    background: black;
    display: table-cell;
    padding: 10px;
    width: 33.33333%;
    text-align: center;
    color: white;
    vertical-align: middle;
    border-right: 10px solid #fff;
    border-left: 10px solid #fff;
    transition: .5s;
}

.row:nth-child(1) .col:nth-child(1) {
    background: #596270;
}

.row:nth-child(1) .col:nth-child(2) {
    background: #cf6768;
}

.row:nth-child(1) .col:nth-child(3) {
    background: #8accc3;
}

.row:nth-child(2) .col:nth-child(1) {
    background: #596270;
}

.row:nth-child(2) .col:nth-child(2) {
    background: #cf6768;
}

.row:nth-child(2) .col:nth-child(3) {
    background: #8accc3;
}

.main {
    width: 300px;
    background-color: #eee;
    margin: 20px auto;
    border-radius: 5px;
    border: 5px solid#888;
    box-shadow: 0 0 10px #000;
}

.header {
    padding: 10px;
    text-align: center;
    background: linear-gradient(#191970, #4169e1);
    color: #fff;
    font-size: 15px;
    text-shadow: 1px 1px 2px #000;
}

.form-box {
    padding: 10px 25px 20px 25px;
}

inp {
    font-size: 15px;
    width: 100%;
    padding: 12px 12px 12px 50px;
    border: none;
    box-shadow: 0 0 2px 1px #444;
}

.inp:focus {
    outline: none;
    box-shadow: 0 0 5px 1px #4169e1;
    color: #191970;
    font-weight: bold;
}

label {
    font-size: 18px;
    color: #191970;
}

.agree {
    font-size: 10px;
}

.inp-row {
    margin: 5px 0 5px 0;
}

.sub-btn {
    width: 30%;
    padding: 5px;
    font-size: 18px;
    background: linear-gradient(#dc143c, #b22222);
    cursor: pointer;
    color: #fff;
    border: none;
}

.sub-btn:hover {
    background: linear-gradient(#b22222, #dc143c);
}

.sub-btn:focus {
    outline: none;
}

@media screen and (max-width: 580px) {
    nav ul {
        max-height: 0;
    }
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        text-align: left;
    }
    .handle {
        display: block;
    }
    .main {
        width: 90%;
    }
}

@media screen and (max-width: 720px) {
    nav ul {
        max-height: 0;
    }
    .showing {
        max-height: 20em;
    }
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        text-align: left;
    }
    .handle {
        display: block;
    }
    .main {
        width: 90%;
    }
}